.container {
    padding: 20px;
    background-color: #f0f0f0;
}

.categoryButton {
    background-color: #f8f8f8;
    border: 1px solid #000000;
    color: #020202;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    width: auto;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 6px;
}

.skills {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.skillItem {
    display: flex;
    align-items: center;
    gap: 6px;
}

.skillButton {
    background-color: #EFEFD0;
    color: #333333;
    border: 1px solid #cccccc;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 24px;
}

/* Hover effect for the skill buttons */
.skillButton:hover {
    background-color: #ECE0F6;
    color: #333333;
}

.heartIcon {
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Hover effect for the heart icon */
.heartIcon:hover {
    color: #f00;
}
