/* DoubleNavbar.module.css */
.navbar {
    background-color: #DAC0FD;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #DAC0FD;
}

.logo {
    margin-bottom: 20px;
}

.mainLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.mainLink[data-active="true"] {
    background-color: #B28DFF;
}

.mainLink:hover {
    background-color: #B28DFF;
}

.main {
    flex: 1;
    padding: 20px;
    background-color: #FFFFFF;
}

.title {
    margin-bottom: 20px;
    color: #333333;
}